# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

trainning/catboost_info
trainning/.ipynb_checkpoints
output.csv
data/nhatot_new.csv
data/nhatot.csv
data/vietnam_housing_dataset.csv
data/ho_chi_minh_pricing.csv
data/ho_chi_minh_pricing_new.csv
data/ho_chi_minh_pricing_clean.csv
features/geocode_cache.csv
# Virtual environments
venv/
env/
.venv/
.env/

# Poetry
poetry.lock

# Environment variables
.env
.env.*

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# pytype
.pytype/

# VSCode
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
.env