boto3==1.42.59
cohere==6.1.0
fastapi==0.135.3
grpcio==1.78.0
joblib==1.5.1
langchain==1.2.15
langchain_core==1.2.28
langchain_openai==1.1.12
langchain_pinecone==0.2.13
langchain_text_splitters==1.1.1
llama_cloud_services==0.6.94
llama_parse==0.6.94
numpy==2.4.4
openai==2.31.0
pandas==3.0.2
pinecone==7.2.0
playwright==1.58.0
protobuf==7.34.1
py_eureka_client==0.11.13
pydantic==2.12.5
python-dotenv==1.2.2
ragas==0.3.4
rank_bm25==0.2.2
Requests==2.33.1
selenium==4.43.0
SQLAlchemy==2.0.49
tqdm==4.67.1
uvicorn==0.44.0
webdriver_manager==4.0.2
pymysql==1.1.0
scikit-learn==1.6.1
lightgbm==4.6.0
matplotlib==3.10.8
python-multipart==0.0.9
cryptography>=42.0.0